<div id="comment-section">
    
    <div class="row">
        <div class="comment">
            <h2>Comments Section</h2>
            <form>
                <textarea class="form-control" id="comment-form" placeholder="Add public comment" cols="30" rows="4"></textarea>
                <button class="addCommentBtn" type="button" onclick="clearContent()">Add comment</button>
            </form>
        </div>
    </div>
    <div class="row2">
        <h2>332 Comments</h2>
        <div class="userComments">
            <div class="comment">
                <div class="user">Nick T. <span class="time">2021-09-09</span></div>
                <div class="userComment">Youtube comment section</div>
                <div class="replies">
                    <div class="user">Nick T. <span class="time">2021-09-09</span></div>
                    <div class="userComment">reply</div>
                    <div class="user">Nick T. <span class="time">2021-09-09</span></div>
                    <div class="userComment">reply</div>
                </div>
            </div>
        </div>
    </div>

</div>