<footer class="footer">

    <div class="footer-left">
        <!-- <img src="/images/logo-4.png" alt=""> -->
        <a href="/"><h3 class="footer-logo">Web<span>Dev</span></h3></a>

        <p>Follow us on social media to see our work and show support!</p>
        <div class="socials">
            <!-- <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-tumblr"></i></a> -->
            <a href="https://www.facebook.com/nick.travis.982/"><img  id="facebook" src="images/white-facebook.png"  title="facebook"></a>
            <a href="https://twitter.com/?lang=en"><img id="twitter" src="images/white-twitter.png"  title="twitter"></a>
            <a href="https://www.youtube.com/watch?v=wwbM63-LFD4"><img id="youtube"  src="images/white-youtube.png"  title="youtube"></a>
            <a href="https://github.com/NickTravis2"><img id="github"  src="images/githubIcon.png"  title="github"></a>
            <a href="https://www.instagram.com/nickjtravis/"><img id="instagram"  src="images/white-instagram.png"  title="instagram"></a>
        </div>
    </div>
    <ul class="footer-right">
        <li>
            <h2>Services</h2>

            <ul class="box">
                <li><a href="/">Wedding Photos</a></li>
                <li><a href="/">Product Photography</a></li>
                <li><a href="/">Portraits</a></li>
                <li><a href="/">Lifestyle Photography</a></li>
                <!-- <li><a href="#">Concerts</a></li>
                <li><a href="#">Landscape Photography</a></li> -->
            </ul>
        </li>
        <li class="features">
            <h2>Useful Links</h2>

            <ul class="box" id="nav_titles">
                <li><a href="/">Home</a></li>
                <li><a href="/aboutContainer">About</a></li>
                <li><a href="/gallery">Portfolio</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <!-- <li><a href="arcade.html">Games?!</a></li> -->
            </ul>
        </li>
        <li>
            <h2>Address</h2>

            <ul class="box" id="foot-address">
                <li><a href="#">5555 San Luis Obispo</a></li>
                <li><a href="#">San Diego, California</a></li>
                <li><a href="#">92109-8743</a></li>
                <li><a href="#">United States</a></li>
            </ul>
        </li>
    </ul>
    <div class="footer-design">
        <hr id="ft-hr-left">
        <span class="foot-hr"><img src="images/favicon.png"></span>
        <hr id="ft-hr-right">
    </div>
    <div class="footer-bottom">
        <p style="margin: 0;">All Rights reserved by &copy; ~me~ 2021</p>
    </div>
    <div class="footer-shadow-2">

    </div>

</footer>