<div class="app-container">
    <h1>PokeDex</h1>
    <input name="pokemon-search" class="search_input" type="text" placeholder="enter pokemon's name...">
    <button class="pokeSearch" type="submit">Search</button>
    <div id="poke_container" class="poke-container"></div>

    <div class="pokemon-modal">
        <div class="modal-container">

        </div>
    </div>    
</div>
